@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    text-align:center;
    background-color:rgb(172, 205, 241);
}
nav{
    text-align: right;
    display: block;
    padding: 1 rem;
    margin: auto;
}
header {
    padding: 1rem;
   
    color: #fff;
    
}
a{
    text-decoration:none;
    color: black;
    border-radius: 0.5rem;
    border-color: black;
    padding: 1rem;
    background-color: bisque;
}
footer{
    text-align: center;
    padding: 1rem;
     font-size:larger;
    margin-top: 5rem;
   
}

.link{
    text-decoration: none;
    color:black;
    padding:0rem 1rem;
    background-color: aqua;
    border-radius:0.5rem;
    
}